.taskContainer{
	font-size: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 5%;
	width: 100%;
}

.buttonBox{
	display: flex;
	opacity: 100%;
	animation: fade-in 2s linear;
}

@keyframes fade-in{
	0%{
		opacity: 0%;
	}
	80%{
		opacity: 0%;
	}
	100%{
		opacity: 100%;
	}
}

.taskButton{
	color: #C4C7D0;
	border: none;
	border-radius: 1em;
	background-color: white;
	cursor: pointer;
}

.editTaskInput{
	color: white;
	font-size: 50px;
	border: none;
	width: 100%;
	background: rgb(196,199,208, 0.5);
	animation: roll-out 0.25s linear;
	border-radius: 5px;
}
@keyframes roll-out{
	from{
		transform: translateY(-15px);
		opacity: 0%
	}
	to{
		transform: translateY(0px);
		opacity: 100%;
	}
}

.taskInput:focus{
	outline: none;
}

.toDoExit{
	animation: slide-out 0.5s linear
}

@keyframes slide-out{
	from{
		opacity: 100%;
		transform: translateX(0px)
	}
	to{
		opacity: 0%;
		transform: translateX(200px)
	}
}






