.App {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}


#dark{
	background-color: #18191A;
	transition: 0.5s;
	color: rgb(196,199,208, 0.5);
}

#light{
	/* background-color: #F4F4F4; */
	background-color: #E9E9E9;
	transition: 0.5s;
}

